/* Align title and create spacing underneath */
.pageHeader {
   text-align: center;
   margin-bottom: 20px;
}

/* Make list class a flex container */
.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

/* Positioning of flex items */
.list .shop {
    display: flex;
    justify-content: center;
    flex-basis: 33%
}